extends ../layout

block content
    form(action="#" method="post") 
        .mb-3
            label.form-label(for="input-id") 아이디*
            input#input-id.form-control(type="text" name="id" required)
            .form-text 아이디는 영문자 또는 숫자로 이루어진 공백을 포함하지 않은 5-15글자여야 합니다

        .mb-3 
            label.form-label(for="input-password") 비밀번호*
            input#input-password.form-control(type="password" name="password" required)
            .form-text 영문자, 숫자, 특수문자를 조합한 강력한 비밀번호를 사용하세요

        .mb-3 
            label.form-label(for="input-reason") 가입 이유
            input#input-reason.form-control(type="text" name="reason")
            .form-text 이 서비스에 가입하게된 이유가 있다면 적어주세요!

        button.mb-3.btn.btn-primary(type="submit") 회원가입